*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box ;
}

body{
    font-family: 'Segoe UI', sans-serif;
    font-size:14px;
    background-color: #ffffff;
}
h1{
    text-align:center;
    font-size: 40px;
    
}

h3{
    text-align: center;
    font-size: 40px;
}

.banner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:30px;
    width:100%;
    gap:3%;
  
}

.img-section{
    height:300px;
    overflow: hidden;
    width:40%;
    background-image: url(/image/pexels-andres-ayrton-6578392\ 2\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.img-section {
    width:50%;
}

.text-section {
width:60%;
}

.text-section h3{
    position: relative;
    text-align:center;
    font-size:30px;
    text-transform:capitalize;
    font-weight: lighter;
    margin-bottom: 20px;
}
.text-section h3::before{
    content: "";
    position: absolute;
    top:100%;
    left:50%;
    transform: translateX(-50%);
    height:2px;
    width:70px;
    background-color: orange;
    margin-top:10px;
} 

.text-section p{
    font-size:22px;
    margin: 15px 20px;
}
.form-section{
    display: flex;
    justify-content: center;
    padding:40px;
}

.contact{
    font-size:40px;
    font-weight:normal;

    
}

.form-container{
    width:55%;
    border: 1px solid black;
    padding:50px;
    border-radius: 10px;
    box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.75);
}
.input-container,
.button-container{
display:flex;
flex-direction: column;
}
.input-container label{
    font-size:16px;
    margin-bottom: 11px;
}
.input-container input,
.input-container textarea{
padding: 10px 20px;
border-radius: 5px;
border: 1px solid #bbb;
background-color: #ffffff;
}

.button-container{
    justify-content:end;
}
.button-container button{
width:200px;
text-align: center;
padding:10px;
font-size:15px;
color:white;
background-color: rgb(29, 149, 189);
border:unset;
margin-top:10px;
border-radius: 5px;
margin-left:auto;
}